<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="../scripts/main.ts"></script>
  </head>

  <body> See JavaScript console.</body>
</html>
